* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(135deg, #0f1d2c, #1a2538);
}

.content {
    flex: 1;
    padding: 20px;
}

.content h1 {
    /* font-size: 3rem; */
    /* font-weight: bold; */
    margin-bottom: 20px;
    color: #ffffff;
    border: 2px solid black;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.section p {
    font-size: 1rem;
    line-height: 1.8;
    color: #d1d1d1;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
